.grid {
	width: 75%;
	height: 75%;
	margin: auto;
	text-align: center;
	min-width: 750px;
	min-height: 750px;
}

.square {
	position: relative;
	width: 15%;
	height: 15%;
	margin: 2%;
	border-radius: 0px;
	font-size: 10px;
	padding: 4px;
	white-space: normal;
	line-height: 15px;
	float: left;
	border: 1px gray solid;
	vertical-align: middle;
	background-color: white;
}

.square.complete {
	background-color: #55ee55;
	color: white;
}

.separator-horizontal {
	position: absolute;
	height: 5px;
	width: 30%;
	top: 49%;
	background-color: #aaa;
	left: 100%;
	z-index: -1;
}

.separator-vertical {
	position: absolute;
	height: 40%;
	width: 5px;
	background-color: #aaa;
	top: -40%;
	left: 50%;
	z-index: -1;
}

.separator-vertical.complete {
	background-color: #55ee55;
}

.separator-horizontal.complete {
	background-color: #55ee55;
}

#square-0-0 .separator-vertical, #square-0-1 .separator-vertical, #square-0-2 .separator-vertical, #square-0-3 .separator-vertical, #square-0-4 .separator-vertical {
	display:none;
}
#square-0-4 .separator-horizontal, #square-1-4 .separator-horizontal, #square-2-4 .separator-horizontal, #square-3-4 .separator-horizontal, #square-4-4 .separator-horizontal {
	display:none;
}



