.grid {
	width: 50%;
	height: 50%;
	margin: auto;
	text-align: center;
	min-width: 700px;
	min-height: 600px;
	padding-top: 0px;
}

.square {
	position: relative;
	width: 15%;
	height: 15%;
	margin: 2%;
	border-radius: 0px;
	font-size: 10px;
	padding: 4px;
	white-space: normal;
	line-height: 15px;
	float: left;
	border: 1px gray solid;
	vertical-align: middle;
	background-color: white;
}

.square.complete {
	background-color: #55ee55;
	color: white;
}

.separator-horizontal {
	position: absolute;
	height: 5px;
	width: 30%;
	top: 49%;
	background-color: #aaa;
	left: 100%;
	z-index: -1;
}

.separator-vertical {
	position: absolute;
	height: 40%;
	width: 5px;
	background-color: #aaa;
	top: -40%;
	left: 50%;
	z-index: -1;
}

.separator-vertical.complete {
	background-color: #55ee55;
}

.separator-horizontal.complete {
	background-color: #55ee55;
}

.separator-vertical.partial {
	background-color: orange;
}

.separator-horizontal.partial {
	background-color: orange;
}

#square-0-0 .separator-vertical, #square-0-1 .separator-vertical, #square-0-2 .separator-vertical, #square-0-3 .separator-vertical, #square-0-4 .separator-vertical {
	display:none;
}
#square-0-4 .separator-horizontal, #square-1-4 .separator-horizontal, #square-2-4 .separator-horizontal, #square-3-4 .separator-horizontal, #square-4-4 .separator-horizontal {
	display:none;
}

#eventTicker {
    /*background-color:rgba(0, 0, 0, 0.85);
    background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9;  ie fallback png background image */
    z-index:1;
    color:white;
    text-align: center;
	font-size: 40px;
	padding: 1%;
	white-space: normal;
	line-height: 40px;
	float: left;
	position:fixed;
    height:50px;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
	font-family: 'Jura', cursive;
}

#eventTicker:empty {
   display: none;
}

#drinkingBuddy {
	display:none;
	z-index: 1000;
	
}

#drinkingBuddy img {
	z-index: 1000;
}

.background-image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.2;
}

#drinkingBuddy.animateOne {
	position: absolute;
	display: block;
	opacity: 0;
	top: 50%;
	left: 90%;
	-webkit-animation: buddyAnimationOne 4s ; /* Safari 4.0 - 8.0 */
    animation: buddyAnimationOne 4s linear;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes buddyAnimationOne {
    0%   {left:90%; top:45%; opacity: 0;}
    25%   {left:90%; top:45%; opacity: 1;}
    100% {left:-50%; top:45%; opacity: 1;}
}

/* Standard syntax */
@keyframes buddyAnimationOne {
    0%   {left:90%; top:45%; opacity: 0;}
    25%   {left:90%; top:45%; opacity: 1;}
    100% {left:-50%; top:45%; opacity: 1;}
}

#drinkingBuddy.animateTwo {
	position: absolute;
	display: block;
	opacity: 0;
	top: 20%;
	left: -10%;
	-webkit-animation: buddyAnimationTwo 4s ; /* Safari 4.0 - 8.0 */
    animation: buddyAnimationTwo 4s linear;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes buddyAnimationTwo {
    0%   {left:-30%; top:20%; opacity: 0;}
    25%   {left:-30%; top:20%; opacity: 1;}
    100% {left:130%; top:20%; opacity: 1;}
}

/* Standard syntax */
@keyframes buddyAnimationTwo {
    0%   {left:-30%; top:20%; opacity: 0;}
    25%   {left:-30%; top:20%; opacity: 1;}
    100% {left:130%; top:20%; opacity: 1;}
}

#drinkingBuddy.animateThree {
	position: absolute;
	display: block;
	opacity: 0;
	top: -30%;
	left: 70%;
	-webkit-animation: buddyAnimationThree 4s ; /* Safari 4.0 - 8.0 */
    animation: buddyAnimationThree 4s linear;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes buddyAnimationThree {
    0%   {left:70%; top:-60%; opacity: 0;}
    25%   {left:70%; top:-60%; opacity: 1;}
    100% {left:70%; top:110%; opacity: 1;}
}

/* Standard syntax */
@keyframes buddyAnimationThree {
    0%   {left:70%; top:-60%; opacity: 0;}
    25%   {left:70%; top:-60%; opacity: 1;}
    100% {left:70%; top:110%; opacity: 1;}
}

#drinkingBuddy.animateFour {
	position: absolute;
	display: block;
	opacity: 0;
	top: 50%;
	left: 90%;
	-webkit-animation: buddyAnimationFour 4s ; /* Safari 4.0 - 8.0 */
    animation: buddyAnimationFour 4s linear;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes buddyAnimationFour {
    0%   {left:0%; top:110%; opacity: 0;}
    25%   {left:0%; top:110%; opacity: 1;}
    100% {left:0%; top:-30%; opacity: 1;}
}

/* Standard syntax */
@keyframes buddyAnimationFour {
    0%   {left:0%; top:110%; opacity: 0;}
    25%   {left:0%; top:110%; opacity: 1;}
    100% {left:0%; top:-30%; opacity: 1;}
}
.winningBuddies {
	display:none;
}

.winningBuddies.animateFive {
	position: absolute;
	display: block;
	left: 30%;
	top: 30%;
	z-index: 1000;
    -webkit-animation: buddyAnimationFive 5s linear 2s infinite alternate; /* Safari 4.0 - 8.0 */
    animation: buddyAnimationFive 5s linear 2s infinite alternate;
}

@-webkit-keyframes buddyAnimationFive {
    0%   {left:900px; top:900px;}
    25%  {left:900; top:500px;}
    50%  {left:500; top:500px;}
    75%  {left:600px; top:300px;}
    100% {left:900px; top:600px;}
}

/* Standard syntax */
@keyframes buddyAnimationFive {
    0%   {left:900px; top:900px;}
    25%  {left:900; top:500px;}
    50%  {left:500; top:500px;}
    75%  {left:600px; top:300px;}
    100% {left:900px; top:600px;}
}

.winningBuddies.animateSix {
	position: absolute;
	display: block;
	left: 30%;
	top: 30%;
	z-index:000;
    -webkit-animation: buddyAnimationSix 5s linear 2s infinite alternate; /* Safari 4.0 - 8.0 */
    animation: buddyAnimationSix 5s linear 2s infinite alternate;
}
@-webkit-keyframes buddyAnimationSix {
    0%   {left:400px; top:0px;}
    25%  {left:400; top:200px;}
    50%  {left:600; top:200px;}
    75%  {left:600px; top:400px;}
    100% {left:400px; top:200px;}
}

/* Standard syntax */
@keyframes buddyAnimationSix {
    0%   {left:400px; top:0px;}
    25%  {left:400; top:200px;}
    50%  {left:600; top:200px;}
    75%  {left:600px; top:400px;}
    100% {left:400px; top:200px;}
}

.winningBuddies.animateSeven {
	position: absolute;
	display: block;
	left: 30%;
	top: 30%;
	margin: auto;
	z-index:1000;
    -webkit-animation: buddyAnimationSeven 5s linear 2s infinite alternate; /* Safari 4.0 - 8.0 */
    animation: buddyAnimationSeven 5s linear 2s infinite alternate;
}
@-webkit-keyframes buddyAnimationSeven {
    0%   {left:800px; top:0px;}
    25%  {left:600px; top:0px;}
    50%  {left:500; top:100px;}
    75%  {left:600px; top:300px;}
    100% {left:650px; top:150px;}
}

/* Standard syntax */
@keyframes buddyAnimationSeven {
    0%   {left:800px; top:0px;}
    25%  {left:600px; top:0px;}
    50%  {left:500; top:100px;}
    75%  {left:600px; top:300px;}
    100% {left:650px; top:150px;}
}

#winningBuddies {
	height:100%;
	width: 100%;
	position: absolute;
	top:0px;
	left:0px;
	background: none !important;
	pointer-events: none;
}

.winningBuddies.animateEight {
	position: absolute;
	display: block;
	left: 30%;
	top: 30%;
	z-index:1000;
    -webkit-animation: buddyAnimationEight 5s linear 2s infinite alternate; /* Safari 4.0 - 8.0 */
    animation: buddyAnimationEight 5s linear 2s infinite alternate;
}
@-webkit-keyframes buddyAnimationEight {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
}

/* Standard syntax */
@keyframes buddyAnimationEight {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
}