body{
    background-color: #f6ede4;
    overflow:hidden;
}

.page-footer{
    background-color: #c8cbc7;
    color: #b68440;
}

.waves-effect{
     background-color: #8e9ca5;
}

.banner {
    display:block !important;
    position:absolute;
    top:0px;
    left:0x;
}

.conservative {
    background-color: #0087dc;
    font-family: 'Chewy', cursive;
    color: white;
    text-align: center;
    font-size: 3em;
    width:100%;
    z-index: 200;
    display:none;
}

.labour {
    background-color: #d50000;
    font-family: 'Chewy', cursive;
        color: white;
    text-align: center;
    font-size: 3em;
    width:100%;
    z-index: 200;
    display:none;
}

.libdems {
    background-color: #FDBB30;
    font-family: 'Chewy', cursive;
        color: white;
    text-align: center;
    font-size: 3em;
    width:100%;
    z-index: 200;
    display:none;
}

.snp {
    background-color: #FFF95D;
    font-family: 'Chewy', cursive;
    color: black;
    text-align: center;
    font-size: 3em;
    width:100%;
    z-index: 200;
    display:none;
}

.plaidcymru {
    background-color: #3F8428;
    font-family: 'Chewy', cursive;
        color: white;
    text-align: center;
    font-size: 3em;
    width:100%;
    z-index: 200;
    display:none;
}

.ukip {
    background-color: #B3009D;
    font-family: 'Chewy', cursive;
        color: white;
    text-align: center;
    font-size: 3em;
    width:100%;
    z-index: 200;
    display:none;
}

.greens {
    background-color: #008066;
    font-family: 'Chewy', cursive;
        color: white;
    text-align: center;
    font-size: 3em;
    width:100%;
    z-index: 200;
    display:none;
}

.titleBar {
    background-color: #000000;
    font-family: 'Jura', cursive;
    color: white;
    text-align: center;
    opacity: 50;
    font-size: 3em;
    width:100%;
    z-index: 200;
}

.eventBar {
    background-color: #000000;
    font-family: 'Jura', cursive;
    color: white;
    text-align: center;
    opacity: 50;
    width:100%;
    bottom: 0;
    z-index:0;
	font-size: 40px;
	padding: 1%;
	white-space: normal;
	line-height: 40px;
	float: left;
	position:fixed;
    height:50px;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
}
